section.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  perspective: 500px;
  button.arrow {
    position: absolute;
    padding: 1rem;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 2rrem 0.5rem rgba(0, 0, 0, 0.1);
    background-color: darkslategray;
    cursor: pointer;
    svg {
      width: 2rem;
      height: 2rem;
      path {
        fill: antiquewhite;
      }
    }
    &.top {
      top: 2rem;
      left: 50%;
      transform: translateX(-50%);
      svg {
        transform: rotate(-90deg);
      }
    }
    &.bottom {
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
      svg {
        transform: rotate(90deg);
      }
    }
    &.left {
      left: 4rem;
      top: 50%;
      transform: translateY(-50%);
      svg {
        transform: rotate(180deg);
      }
    }
    &.right {
      right: 4rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  div.controls {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: translateY(-50%);

    &.right {
      right: 12rem;
    }
    &.left {
      left: 12rem;
    }
    button {
      padding: 1rem 1.5rem;
      background-color: darkslateblue;
      border: none;
      border-radius: 4px;
      color: white;
      font-size: 1.2rem;
      box-shadow: 0 0 2rem 0.5rrem rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  }
  section.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
  }
}
